<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的展厅</title>
<link href="/thinkPHP5/public/static/css/dataManagement.css" type="text/css" rel="stylesheet"/>
<link href="/thinkPHP5/public/static/css/footer.css" type="text/css" rel="stylesheet"/>
<script src="/thinkPHP5/public/static/js/jquery-1.9.1.min.js"></script>
<script src="/thinkPHP5/public/static/js/ban.js"></script>
</head>

<body>
<!--导航栏-->
    <header class="header">
        <div class="nav-top">
            <ul class="nav-left">
                <li><a href="{:url('User/userInfo')}" class="sn-user-nick">{$Think.session.user_info.user_name}</a></li>
                <li>,欢迎来到聚创伟夜</li>
                <li><a href="javascript:void(0)" class="sn-logout loginOff">[退出]</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="#">关注聚创伟夜</a></li>
                <li><a href="#">网站导航</a></li>
                <li class="dropdown dropdown-a"><a href="#">客户服务</a>
                    <ul class="droplist droplist-a" style="display: none;">
                        <li><a href="#">聚创服务</a></li>
                        <li><a href="#">客服服务</a></li>
                    </ul>
                </li>
            </ul>
      </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-login"><img src="/thinkPHP5/public/static/img/logo-02.png" width="100%" height="100%"/></li>
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('Project/projectList')}">项目</a></li>
                    <li><a href="#">活动</a></li>
                     <li class="dropdown">
                    <a href="#">投资<span>▼</span></a>
                    <ul class="droplist">
                         <span class="triangle arraw-out">
                         <span class="triangle arraw-in"></span>
                         </span>
                         <li><a href="#">投资人</a></li>
                         <li><a href="#">投资机构</a></li>
                    </ul>
                </li>
                <li><a href="#">创业头条</a></li>
            </ul>    
            <p class="btn-sm"><a href="{:url('Project/projectRelease')}">
                <span class="fa">
                    +
                </span>
            创建项目</a></p>
        </nav>
    </header>
<!--border-->
    <div class="data-bodyer">
        <div class="data-bodycem">
<!--右边导航栏-->
            <div class="data-bodycem-left">
            	<h2>用户信息</h2>
            	<p>用户管理</p>
                <ul>
                	<li class="buy-on"><a href="{:url('User/userInfo')}">我的展厅</a></li>
                    <li><a href="{:url('User/userData')}">我的资料</a></li>
                    <li><a href="{:url('User/userCert')}">我的认证</a></li>
                    <li><a href="#">我的等级</a></li>
                    <li><a href="{:url('User/userSecurity')}">用户安全</a></li>
                    <li><a href="#">投诉维护</a></li>
                    <li><a href="#">邀请注册</a></li>
                </ul>
                <p>人才管理</p>
                <ul>
                	<li><a href="#">人才资料</a></li>
                    <li><a href="#">发布需求</a></li>
                    <li><a href="#">人才列表</a></li>
                    <li><a href="#">需求列表</a></li>
                </ul>
                <p>人脉交流</p>
                <ul>
                	<li><a href="#">商友与联系人</a></li>
                    <li><a href="#">谁看过我</a></li>
                    <li><a href="#">我看过谁</a></li>
                    <li><a href="#">收到的名片</a></li>
                </ul>
                <p>会员服务</p>
                <ul>
                	<li><a href="#">我的订单</a></li>
                </ul>
                
            </div>
   <!--更换头像弹出层-->
            <div class="header-img"></div>
            <div class="headerbox"></div>
   <!--信息完善-->
            <div class="data-bodycem-right">
                <div class="main_righttop">
                    <div class="main_name">
                            <div class="mian-img">
                                <form id="uploadForm">
                                    
                                <label>
                                    <p>
                                        <img src="{$Think.session.user_info.default_head}" width="100%" height="100%" class="headerimg">
                                    </p>
                                    <span class="changes">更改头像</span>
                                </label>
                                
                                </form>
                                
                            </div>
                                <div class="mian-body">
                                    <p class="maindlname">{$Think.session.user_info.user_name}</p>
                                    <p class="mainidcar">上次登录时间：<span>2017/04/17</span></p>
                                    <p class="mainidcar">资料完善度：<span class="bole">84分</span><a href="{:url('User/userData')}" class="active">完善</a></p>
                                    <p class="mainaccount">所在地区：</span><span>广东省</span><span>广州市</p>
                                    <p class="uinfo_settting">
                                    	<a href="#" class="set smobilepassed"></a>
                                    	<a href="#" class="set saccount"></a>
                                    	<a href="#" class="set semail"></a>
                                    	<a href="#" class="set spaypwd"></a>
                                    </p>
                            </div>
                        </div>
                    </div>
                <div class="main_rightneck">
                    <ul>
                        <li>
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_59.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">0</span></p>
                                <span class="usable">发出投递</span>
                            </div>
                        </li>
                        <li>
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_61.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">0</span></p>
                                <span class="usable">被约谈</span>
                           </div>
                        </li>
                        <li>
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_66.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">0</span></p>
                                <span class="usable">收到留言</span>
                            </div>
                        </li>
                         <li class="main_rightneckli">
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_63.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">80</span></p>
                                <span class="usable">商友</span>
                            </div>
                        </li>
                        <li class="main_rightneckli">
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_61.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">0</span></p>
                                <span class="usable">已发名片</span>
                           </div>
                        </li>
                        <li class="main_rightneckli border-none">
                            <div class="info-guide-item-part">
                                <i class="a-post">
                                    <img src="/thinkPHP5/public/static/img/i_63.png" width="100%" height="100%" />
                                </i>
                                <p><span class="less">20</span></p>
                                <span class="usable">收到名片</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
          <!--信息动态-->
          <div class="data-bodycem-right data-bodycem-com">
            <div class="ui-box-head">
                <h5>信息动态</h5>
            </div>
            <div class="news-info-tab">
                    <div class="ui-tab-top">
                        <ul>
                            <li class="ui-tab-liston">
                                <a href="#">收到的消息</a>
                            </li>
                            <li>
                                <a href="#">谁看过我</a>
                            </li>
                            <li>
                                <a href="#">谁收藏我</a>
                            </li>
                            <li>
                                <a href="#">收到的名片</a>
                            </li>
                        </ul>
                        <a href="#" class="more">全部>></a>
                    </div>
                    
                    <div class="j-See-reply">
                        <ul>
                            <li class="fn-show">
                                <p class="fn-nose">你暂时还没有收到消息</p>
                            </li>
                            <li>
                                <p class="fn-nose">没有任何人浏览过你</p>
                            </li>
                            <li>
                                <p class="fn-nose">没有任何人收藏过你</p>
                            </li>
                            <li>
                                <p class="fn-nose">没有收到任何人的名片</p>
                            </li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
   <!--尾部信息-->
   <div class="footer">
        <div class="footer_container">
            <div class="directory-img directory-co">
                <a href="#">
                    <img src="/thinkPHP5/public/static/img/logo-02.png" width="100%" height="100%">
                </a>
                <p class="login_buttom">
                    <img src="/thinkPHP5/public/static/img/app_download_code1.png" width="100%" height="100%"/>
                </p>
             </div>
            <div class="directory-co">
                <h3>发现</h3>
                <ul>
                    <li><a href="#">项目</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">投资人</a></li>
                    <li><a href="#">投资机构</a></li>
                    <li><a href="#">创业头条</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
            <div class="directory-co">
                <h3>产品与服务</h3>
                <ul>
                    <li><a href="#">创建活动</a></li>
                    <li><a href="#">创建项目</a></li>
                    <li><a href="#">聚创大会</a></li>
                </ul>
            </div>
            <div class="directory-co">
                <h3>联系我们</h3>
                <ul>
                    <li><a href="#">邮件：hi@juchuang.com</a></li>
                    <li><a href="#">QQ交流群:12345678</a></li>
                </ul>
            </div>
            <div class="directory-co">
                <h3>关注</h3>
                <a href="#" class="flow">
                    <img src="/thinkPHP5/public/static/img/wechat.png" width="100%" height="100%"/>
                </a>
                <a href="#" class="flow">
                    <img src="/thinkPHP5/public/static/img/weibo.png" width="100%" height="100%"/>
                </a>
            </div>
        </div>
       <!--友情链接-->
       <div class="footer_bottom">
            <div class="border-bottom-con">
                <ul>
                    <li class="bordernone">友情链接:</li>
                    <li><a href="#">来福直播</a></li>
                    <li><a href="#">博将资本</a></li>
                    <li><a href="#">乐视云</a></li>
                    <li><a href="#">coding直码</a></li>
                    <li><a href="#">个推推送</a></li>
                    <li><a href="#">七牛云</a></li>
                    <li><a href="#">野狗实时云</a></li>
                    <li><a href="#">又拍云</a></li>
                    <li><a href="#">名商网</a></li>
                    <li class="bordernone"><a href="#">优云双态运维</a></li>
                </ul>
            </div>
            <div class="copy">
                Copyright © 2016 welian.com, All Rights Reserved.杭州传送门网络科技有限公司 浙ICP备14032648号 
                <a style="color: inherit;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002088" target="_bank">浙公安网备33010602002088号</a>
       </div>
   </div>
   <script>
        $(function(){
            $('.ui-tab-top li').click(function(){
                $(this).addClass('ui-tab-liston').siblings().removeClass('ui-tab-liston');
                $('.j-See-reply li').eq($(this).index()).fadeIn().siblings().hide();
            });
            $('.dropdown').hover(function(){
                $(this).find('.droplist').show();
                },function(){
                        $(this).find('.droplist').hide();
                });
            
        })
   </script>
</body>
</html>

